body {
    background-color: #888888;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

#container {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

#header {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 36px;
}

#add-post-form {
    display: none;
}

#localization-form {
    pointer-events: none;
    opacity: 0.4;
}

#add-post-map {
 height: 400px;
 width: 100%;
}

#details-map {
    height: 300px;
    width: 100%;
    display: none;
}

#comment-form {
    display: none;
}

.prime-color {
    color: #0033bb;
}

.menu {
    border-style: solid;
    border-color: #0033bb;
    margin-bottom: 10px;
    background-color: #cccccc;
    padding: 10px;
}

.post {
    border-style: solid;
    border-color: #88aaff;
    margin-bottom: 10px;
    background-color: #eeeeee;
    padding: 10px;
}

.form-text {
    font-size: 18px;
}

.post-text {
    color: #0033bb;
    text-decoration: none;
    font-size: 22px;
}

.date {
    text-align: right;
    color: #888888;
}

.loader {
    border: 14px solid #eeeeee;
    border-top: 14px solid #88aaff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    margin-left: auto;
    margin-right: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.error-label {
    display: none;
    color: #ff0000;
}
